<!-- TODO -->
<!-- TODO -->

<br/>
<title>TicTacToe | Play Game</title>
<h1>Play Game</h1>

<table id='board'>
  <!-- iterate through each array in board, grabs the array and the index -->
  <% @game.board.each_with_index do |row, r_index| %>
    <tr>
      <p>
      <!-- iterate through the row 
     and column to place the coordinates on the board -->
      <% row.each_with_index do |column, c_index| %>
        <td class="<%= create_cell_class(row, column) %>" >
          <%= render 'board_form', game: @game, row: r_index, column: c_index %>
        </td>
      <% end  %>
    </p>
    </tr>
  <% end %>
</table>

